@model Bespoke.Data.Model.Order

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SourceUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SourceUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DestinationUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DestinationUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenuBranchId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuBranchId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsApproved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsApproved)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
