
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model Bespoke.Web.Model.CategoryModel
}

@{
    if (!string.IsNullOrEmpty(Model.Message))
    {
        <script>
                $(document).ready(function () {
                    swal("Uyarı", "@Html.Raw(Model.Message)", "error");
                })
        </script>
    }
}
<div class="content-row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <b>Update Category</b>
            </div>
            <div class="panel-options">
                <a class="bg" data-target="#sample-modal-dialog-1" data-toggle="modal" href="#sample-modal"><i class="entypo-cog"></i></a>
                <a data-rel="collapse" href="#"><i class="entypo-down-open"></i></a>
                <a data-rel="close" href="#!/tasks" ui-sref="Tasks"><i class="entypo-cancel"></i></a>
            </div>
        </div>
        <div class="panel-body">

            @using (Html.BeginForm("UpdateCategory", "Branch", FormMethod.Post, new { @role = "form" }))
            {
                @Html.HiddenFor(x => Model.Category.Id)
                @Html.HiddenFor(x => Model.Category.IsActive)
                @Html.HiddenFor(x => Model.Category.BranchId)
                <div class="form-group">
                    <label for="exampleInputEmail1">Name</label>
                    @Html.TextBoxFor(x => Model.Category.Name, new { @class = "form-control" })
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            }
        </div>
    </div>
</div>